<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lection 5</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <input name="login" type="text" placeholder="Enter your login" /><br />
      <input name="password" type="text" placeholder="Enter your password"/><br />
      <input name="password_confirm" type="text" placeholder="Confirm your password"/><br />
      <br />
      <button type="submit">Register</button>
    </form>
    <br />
    <a href="/"><button>Go home</button></a>
  </body>
</html>
