<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lection 5</title>
  </head>
  <body>
    <form action="/send" method="POST">
      <input name="login" type="text" placeholder="Enter your login" /><br />
      <input name="password" type="text" placeholder="Enter your password" /><br />
      <input name="message" type="text" placeholder="Enter your message to send"/><br />
      <br />
      <button>Send message</button>
    </form>
    <br />
    <a href="/"><button>Go home</button></a>
  </body>
</html>
